<!-- Footer -->
 <footer class="page-footer text-white font-small mdb-color lighten-3 pt-5 ">
   <div class="layer">
    <!-- Footer Links -->
    <div class="container-fluid  text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row mx-4">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Mission and Vission</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
          <p>Providing and Exchanging all kind of blood types,
            you can deposite your own blood and use it anytime you need,
           </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Content</h5>
  
          <ul class="list-unstyled ">
            
            <li>
              <p>
                <a routerLink="about">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a routerLink="contact">CONTACTS</a>
              </p>
            </li>
            <li>
              <p>
                <a routerLink="donation-process">DONATION PROCESS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">SIGN UP</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="material-icons">place </i> Qasr Eleny,Cairo,Egypt</p>
            </li>
            <li>
              <p>
                <i class="material-icons">mail</i> info@example.com</p>
            </li>
            <li>
              <p>
                <i class="material-icons">phone</i> 19999</p>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
          <!-- Facebook -->
          <!-- <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a> -->
          <i class="mdi mdi-facebook-box"></i>

          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- Google +-->
          <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus"></i>
          </a>
          
          <!-- Dribbble -->
          <a type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright bg-dark  text-center py-3">© 2020 Copyright:
      <a routerLink= "home" class="text-danger">bloodbank.com</a>
    </div>
    <!-- Copyright -->
</div>
  </footer> 
  <!-- Footer -->