

<div class="container my-5">
<div class="jumbotron ">
    <hr class="my-4">
    <br class="my-4">
    <h1 class="display-4">About BloodBank</h1>
    <p class="lead">Each day, thousands of people – people just like you – provide 
        compassionate care to those in need. Our network of generous donors, volunteers
         and employees share a mission of preventing and relieving 
         suffering, here at home and around the world.</p>
    <hr class="my-4">
    <p class="lead">We roll up our sleeves and donate time, money and blood. We learn or teach 
        life-saving skills so our communities can be better prepared when the need 
        arises.</p>

        <hr class="my-4">
        <h1 class="display-4">Mission and Vision</h1>

        <p class="lead">We  prevents and alleviates human suffering in the face of emergencies
         by mobilizing the power of volunteers and the generosity of donors.​ </p>
         <p class="lead"> through our strong network of volunteers, donors and partners, is always there in times of need.
              We aspire to turn compassion into action so that...</p>
  </div>
</div>