<!DOCTYPE html>
<html>


<head>

</head>

<body>
<nav class="navbar navbar-light bg-light mt-2 " >
    <p>What Happens to Donated Blood</p>
    <div>contain font awsome</div>
</nav>

<header class="container heading">
    <h1 class="mt-5 text-center" >What Happens to Donated Blood</h1>
    <p class="text-center">Your blood journeys through many steps and tests that ensure our blood supply is as safe as possible and helps as many people as possible.</p>
</header>

<section class="fristsection container">
    <div class="row">
        <div class="col-md-6 caption_inf">
            <div>
                    <h2>Your Donated Blood's Journey</h2>
                  
                    <p class="mt-2">Have you ever wondered exactly what happens to the blood you donate at the American Red Cross? Your blood goes on an amazing journey!</p>
                     <p class="mt-2">You can learn about all the steps your blood goes through before it reaches a recipient in this informative video.</p>
                </div>
                 
        </div>
        <div class="col-md-6">
            <div>
                <video width="400" height="200" controls autoplay>
                    <source src="https://youtu.be/Tfwq_vJHwT8" type="video/mp4">
                  
                  </video>
            </div>
        </div>
    </div>

</section>

<section class="frist_step mt-3   pb-5 overlay">
 <h2 class="text-center pt-5 " >Learn About Each Step of the Blood Journey</h2>
<div class="container ">
    <div class="row mt-5 ">
        <div class="col-md-5">
            <div>
               
                <img  class="img-fluid" src="assets/ia_400000006.jpeg" alt="">

            </div>
        </div>
        <div class="col-md-7 caption">
            <div>
                <h2>Step One</h2>
                <p>The Donation</p>
              <ul>
                
                  <li class="mt-4">You arrive for your blood donation appointment.</li>
                  <li class="mt-4">Health history and mini physical are completed.</li>
                  <li class="mt-4">For a whole blood donation, about 1 pint of blood is collected; several small test tubes of blood are also collected for testing.</li>
                  <li class="mt-4">Your donation, test tubes and your donor record are labeled with an identical bar code label.</li>
                  <li class="mt-4">Your donation is kept on ice before being taken to a Red Cross center for processing; the test tubes go to the lab.</li>

              </ul>

            </div>
        </div>
    </div>
</div>

</section>
<section class="step_two mt-3">
    <div class="container">
    <div class="row">
        <div class="col-md-5">
           <div>
              <img src="assets/ia_400000007.jpeg" alt="step two">
           </div>     
              
        </div>
        <div class="col-md-7">
            
            <div class="caption">
                
                <ul>
                    <h2>Step Two</h2>
                    <p>Processing</p>
                    <li class="mt-3">At our processing center, information about your donation is scanned into a computer database.</li>
                    <li class="mt-5">Most whole blood donations are spun in centrifuges to separate it into transfusable components: red cells, platelets, and plasma.</li>
                    <li class="mt-5">Plasma may be processed into components such as cryoprecipitate, which helps control the risk of bleeding by helping blood to clot.</li>
                    <li class="mt-5">Red cells and platelets are leuko-reduced, which means your white cells are removed in order to reduce the possibility of the recipient having a reaction to the transfusion.</li>
                    <li class="mt-5">Each component is packaged as a “unit,” a standardized amount that doctors will use when transfusing a patient.</li>
                  </ul>
            </div>     
 
         </div>
    </div>
</div>
</section>

<section class="step_three mt-5 overlay">
    <div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
           
              <img  class="img-fluid" src="assets/ia_400000008.jpeg" alt="step two">
             
              
        </div>
        <div class="col-md-6 caption">
            
            
                <h2>Step three</h2>
                    <p>Processing</p>
                <ul>
                    
                  <li class="mt-2"> In parallel with Step 2, your test tubes arrive at a testing laboratory.</li>
                  <li class="mt-2"> A dozen tests are performed, to establish the blood type and test for infectious diseases. <a href="#">Learn More About Tests Performed.</a></li>
                  <li class="mt-2">Test results are transferred electronically to the processing center within 24 hours. </li>
                  <li class="mt-2">If a test result is positive, your donation will be discarded and you will be notified (our test results are confidential and are only shared with the donor, except as may be required by law). </li>
                  </ul>
               
 
         </div>
    </div>
</div>
</section>

<section class="step_four mt-5 ">
    <div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
           
              <img  class="img-fluid" src="assets/ia_400000009.jpeg" alt="step two">
             
              
        </div>
        <div class="col-md-6 caption">
            
            
                <h2>Step four</h2>
                    <p>Processing</p>
                <ul>
                    
                   <li class="mt-5"> When test results are received, units suitable for transfusion are labeled and stored.</li>
                   <li class="mt-5">Red cells are stored in refrigerators at 6ºC for up to 42 days. </li>
                   <li class="mt-5"> Platelets are stored at room temperature in agitators for up to five days.</li>
                   <li class="mt-5"> Plasma and cryo are frozen and stored in freezers for up to one year.</li>
                  </ul>
               
 
         </div>
    </div>
</div>
</section>


<section class="step_five mt-5 ">
    <div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
           
              <img  class="img-fluid" src="assets/ia_400000010.jpeg" alt="step two">
             
              
        </div>
        <div class="col-md-6 caption">
            
            
                <h2>Step five</h2>
                    <p>Distribution</p>
                <ul>
                    
                 <li class="mt-5">Blood is available to be shipped to hospitals 24 hours a day, 7 days a week.</li>
                 <li class="mt-5">Hospitals typically keep some blood units on their shelves, but may call for more at any time, such as in case of large scale emergencies.</li>
                  </ul>
               
 
         </div>
    </div>
</div>
</section>


<section class="step_six mt-5 ">
    <div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
           
              <img  class="img-fluid" src="assets/ia_400000011.jpeg" alt="step two">
             
              
        </div>
        <div class="col-md-6 caption">
            
            
                <h2>Step six</h2>
                    <p>
                        Transfusion</p>
                <ul>
                    
                 <li class="mt-2">An ill or injured patient arrives at a hospital or treatment center</li>
                 <li class="mt-2"> Physicians determine whether the patient requires a transfusion and, if so, which type.</li>
                 <li class="mt-2"> Blood transfusions are given to patients in a wide range of circumstances, including serious injuries (such as in a car crash) surgeries, child birth, anemia, blood disorders, cancer treatments, and many others.<a href="#"> See How Blood Donations Help.</a></li>
                 <li class="mt-2"> A patient suffering from an iron deficiency or anemia may receive red blood cells to increase their hemoglobin and iron levels, improving the amount of oxygen in the body.</li>
                 <li class="mt-2">Patients who are unable to make enough platelets, due to illness or chemotherapy, may receive platelet transfusions to stay healthy. </li>
                  </ul>
               
 
         </div>
    </div>
</div>
</section>
</body>



</html>
