
body{
    box-sizing: border-box;
}



/* for all page start */


.overlay{
    background-color: rgba(0, 0, 0, .6);
}
ul li{
    position: relative;
    list-style: none;
    padding-left: 20px;
   
}
 ul li::before{
    content: " ";
    position: absolute;
    left: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    margin-top: 10px;
   
}
.caption h2{
    font-weight: 600;
    font-size: 2rem;
    color:#d81e05;
}


 .caption {
    background-color: white;
    box-shadow: 2px 2px  grey;
}
 /* for all page end */

/* start nave style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
nav p{
    font-weight: 900;
    color:#d81e05;
}
/* start nave style */

/* start header style */
.heading h1{
    font-weight: 900;
    font-size: 3rem;
    color:#d81e05;
}
.heading p{
    font-weight: 300;
    font-size: 1.5rem;
    color:gray;
}
/* end header style */
 
/* startfrist sectionstyle */
.fristsection .caption_inf{
    box-shadow: 2px 2px 2px 2px grey;
}



