
 <header class="d-flex justify-content-between">

    <p [ngStyle]=" stylee">What to do Before, During and After a Donation</p>
    <div>contain fontosem</div>
 </header>
  <section class="background_image">
      
      <h1 id="heading_background">What to Do Before, During and <tr></tr> After Your Donation</h1>
  </section>
  <section class="befor_donation mt-5">
      <div class="container">
          <div class="row">

             <div class="col-md-2">

             </div>
             <div class="col-md-10">
                 <h2 class="heading mb-5">Before Your Donation</h2>
                 <div class="row">
                <div class="col-md-4">
                  <div>
                      <img class="img-fluid" src="assets/ia_400000006.png" alt="Make an Appointment">
                      <div class="caption_inf">
                        <h2>Make an Appointment</h2>
                         <p>Select a donation type and find a convenient time that works best for <tr></tr>you.</p>
                         <button class="btn btn-danger">select time </button>

                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="assets/ia_400000007.png" alt="Get the Dish on Nutrition">
                        <div class="caption_inf">
                          <h2>Get the Dish on Nutrition</h2>
                           <p>Have iron-rich foods, such as red meat, fish, poultry, beans, spinach, iron-fortified cereals or raisins.</p>
                           <button class="btn btn-danger">more about </button>
  
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div>
                        <img class="img-fluid" src="assets/ia_400000008.png" alt="Be Well Rested and Hydrate">
                        <div class="caption_inf">
                          <h2>Be Well Rested and Hydrate</h2>
                           <p>Get a good night's sleep the night before your donation, eat healthy foods and drink extra liquids.</p>
                           <button class="btn btn-danger"> Learn more  </button>
  
                        </div>
                    </div>
                  </div>
                
                </div>
                <h3  class="mt-5 mb-3"style="color: red">Additional tips before donating:</h3>
                <ul>
                    <li>Donating Platelets? Don't take aspirin for 2 days before your appointment. Learn About Platelet Donations.</li>
                    <li>Ask a friend to donate at the same time . You can support each other and do twice as much good!</li>
                    <li>Download the Blood Donor App to receive appointment reminders, start your RapidPass and more.</li>
                </ul>
               
            </div>
             
            
          </div>


      </div>
  </section>

  <section class="day_donation mt-5">
    <div class="container">
        <div class="row">

           <div class="col-md-2">

           </div>
           <div class="col-md-10">
               <h2 class="heading mb-5 mt-5">On the Day of Your Donation</h2>
               <div class="row">
              <div class="col-md-4">
                <div>
                    <img class="img-fluid" src="assets/ia_400000009.png" alt="egyption blood">
                    <div class="caption_inf">
                      <h2>egyption blood</h2>
                       <p>To expedite your donation, start your   <a href="#">egyption blood </a> on the day of your appointment. <tr></tr>you.</p>
                      

                    </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div>
                      <img class="img-fluid" src="assets/ia_400000010.png" alt="Photo ID">
                      <div class="caption_inf">
                        <h2>Photo ID</h2>
                         <p>Please bring your donor card, driver's license or two other forms of identification.</p>
                     

                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                      <img class="img-fluid" src="assets/ia_400000008.png" alt="Medication List">
                      <div class="caption_inf">
                        <h2>Medication List</h2>
                         <p> We'll need to know about all prescription and over-the-counter medications you're taking.</p>
                        

                      </div>
                  </div>
                </div>
              
              </div>
              <h3  class="mt-5 mb-3"style="color: red">
                Additional tips for the day of your donation:</h3>
              <ul>
                  <li class="mb-3">Drink an extra 16 oz. of water (or other nonalcoholic drink) before your appointment.</li>
                  <li class="mb-3">Eat a healthy meal, avoiding fatty foods like hamburgers, fries or ice cream.</li>
                  <li class="mb-3">Wear a shirt with sleeves that you can roll up above your elbows.</li>
                  <li class="mb-3">Let us know if you have a preferred arm or particular vein that has been used successfully in the past to draw blood.</li>
                  <li class="mb-3">Relax, listen to music, talk to other donors or read while you donate.</li>
                  
              </ul>
             
          </div>
           
          
        </div>


    </div>
</section>

<section class="befor_donation mt-5">
    <div class="container">
        <div class="row">

           <div class="col-md-2">

           </div>
           <div class="col-md-10">
               <h2 class="heading mb-5">After Your Donation</h2>
               <div class="row">
              <div class="col-md-4">
                <div>
                    <img class="img-fluid" src="assets/ia_400000012.png" alt="Enjoy a Snack">
                    <div class="caption_inf">
                      <h2>Enjoy a Snack</h2>
                       <p> Relax for a few minutes in our refreshment & recovery area — have some cookies or other snacks — you’ve earned it!</p>
                 

                    </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div>
                      <img class="img-fluid" src="assets/ia_400000012.png" alt="Tell Others About Your Good Deed
                      ">
                      <div class="caption_inf">
                        <h2>Tell Others About Your Good Deed
                        </h2>
                         <p>The gratification of giving blood is a feeling you'll want to share.</p>
                        

                      </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                      <img class="img-fluid" src="assets/ia_400000014.png" alt="Drink Extra Liquids">
                      <div class="caption_inf">
                        <h2>Drink Extra Liquids</h2>
                         <p>Drink an extra four (8 oz.) glasses of liquids and avoid alcohol over the next 24 hours.</p>
                       

                      </div>
                  </div>
                </div>
              
              </div>
              <h3  class="mt-5 mb-3"style="color: red">Additional tips for after your donation:</h3>
               <ul>
                   <li class="mb-3">Keep the strip bandage on for the next several hours; to avoid a skin rash, clean the area around the bandage with soap and water.</li>
                   <li class="mb-3">Don’t do any heavy lifting or vigorous exercise for the rest of the day.</li>
                   <li class="mb-3">If the needle site starts to bleed, apply pressure and raise your arm straight up for 5-10 minutes or until bleeding stops.</li>
                   <li class="mb-3">Call us at 333 to report any additional health information that you forgot to tell us, if you have any problems or if you needed medical care after giving blood.</li>
                   <li class="mb-3">If you experience dizziness or lightheadedness, stop what you’re doing and sit down or lie down until you feel better; avoid performing any activity where fainting may lead to injury for at least 24 hours.</li>
                   <li class="mb-3">Keep eating <a href="https://www.healthline.com/nutrition/50-super-healthy-foods">iron-rich foods.</a></li>
                   <li class="mb-3">If you donate frequently, be sure to take multivitamins with iron to ensure you continue to replenish your iron stores before your next donation.</li>
               </ul>
             
          </div>
           
          
        </div>


    </div>
</section>
