<!-- /* start navbar  */ -->
<nav class="navbar navbar-light bg-light mt-2 " >
        <p>Frist time donation</p>
        <div>contain font awsome</div>
</nav>

     <!-- end navbar   -->

      <!-- start overly   -->
<section class="overly">
       <div class="overly_caption">
        <h1>First Time Donors</h1>
        <p>Whatever your reason, the need for blood is constant and you will feel good knowing your donation can help save up to 3 lives.</p>
     </div>

</section>
       <!-- end overly   -->

       <!-- /* start why give blood  */ -->
<section class="mt-5 why_give">
  <div class="container">
       <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <h2 class="text-center mb-5">Why Give Blood</h2>
             <div class="row">
                
                 <div class="col-md-6" >
                     <img class="img-fluid m-auto" src="assets/Donor_with_mask_1.jpg.img.jpeg" alt="Why Give Blood">
                 </div>
                 <div class="col-md-6">
                    
                    <div  class="caption_inf">
                        <h3 class="mb-5">You don't need a special reason to give blood. You just need your own reason.</h3>
                        <ul>
                            <li class="mt-4">Some of us give blood because we were asked by a friend.</li>
                            <li class="mt-4">Some know that a family member or a friend might need blood some day.</li>
                            <li class="mt-4">Some believe it is the right thing to do.</li>
                            <li class="mt-4">Some do it for the free cookies and juice.</li>
                           
                        </ul>
                        <h4 class="mt-5">Everyone enjoys the great feeling of helping save lives!</h4>
                    </div>
                </div>
             </div>
        </div>

       </div>
       

  </div>


</section>
          <!-- /* end why give blood  */ -->

         <!-- /* startExpect_Donation */ -->
<section class="mt-3 Expect_Donation">
  <div class="container ">
      <div class="row ">
          <div class="col-md-2 ">

          </div>
          <div class="col-md-10">
              <h2 class="text-center mt-3" >What to Expect at Your Donation</h2>
              <div class="mt3 caption_style">
                  <img class="float-left img-fluid pr-4"src="assets/ia_400000010.png" alt="What to Expect at Your Donation">
                  <p class="pt-5  clearfix">
                   <span class="prag_style">Registration — </span> You will sign in, show an ID, and be asked to read some required information</p>
              </div>
              <div class="mt3 caption_style">
                <img class="float-left img-fluid pr-4"src="assets/ia_600000021.png" alt="What to Expect at Your Donation">
                <p class="pt-5  clearfix">
                 <span class="prag_style">
                    Health History and Mini-Physical — </span> Answer some questions online or in a private interview, and receive a general health check.</p>
            </div>
            <div class="mt3 caption_style">
                <img class="float-left img-fluid pr-4"src="assets/ia_600000009.png" alt="What to Expect at Your Donation">
                <p class="pt-5  clearfix">
                 <span class="prag_style">The Donation —  </span>  You'll be seated comfortably while a pint of blood is drawn. The actual donation only takes 8-10 minutes.</p>
            </div>
            <div class="mt3 caption_style">
                <img class="float-left img-fluid pr-4"src="assets/ia_400000012.png" alt="What to Expect at Your Donation">
                <p class="pt-5  clearfix">
                 <span class="prag_style">Refreshment and Recovery —</span> After donating, you can enjoy a snack and a drink for 10-15 minutes before resuming your day. The entire donation process takes about an hour.</p>
            </div>
        </div>
      </div>
  </div>

</section>          

        <!-- /* end Expect_Donation */ -->

             <!-- /*  start can_give_Donation */ -->
<section class="can_give mt-5">

  <div class="container">
      <h1 class="text-center mt-5">Can I Give Blood</h1>
       <div class="row">
           <div class="col-md-2">

           </div>
           <div class="col-md-10">
               <h3 class="mb-3 mt-3">General Guidelines for Blood Donation</h3>
               <div class="row">
                  <div class="col-md-6">
                      <img class="img-fluid" src="assets/Donor_with_mask_1.jpg.img.jpeg" alt="can i give blood">
                  </div>
                  <div class="col-md-6 caption_inf">
                       <ul>

                        <li class="mt-5">Be in good general health and feeling well.</li>
                        <li class="mt-5">Be at least 17 years old in most states (16 years old with parental consent in some states).</li>
                        <li class="mt-5">Weigh at least 110 pounds. Additional weight requirements apply for donors 18 years old and younger and all high school donors.</li>
                        <li class="mt-5">Have not donated blood in the last 56 days.</li>
                       </ul>
                  </div>
                  <h3 class="mt-5 mb-5">Common Concerns for First Time Blood Donors</h3>
                  
               </div>
               <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/ia_600000034.jpg" alt="can i give blood">
                </div>
                <div class="col-md-6 caption_inf">
                     <ul>

                      <li class="mt-5">Afraid of needles?.</li>
                      <li class="mt-5">Unsure if travel or medications will prevent you from donating blood?</li>
                      <li class="mt-5">Is it safe to donate?</li>
                      <li class="mt-5">
                        Many people are reluctant to make their first blood donation, but once they do, they find the donation process to be easy and gratifying. <a href="#">Learn more about common concerns</a> ».</li>
                     </ul>
                </div>
                     
                
             </div>
        </div>
       </div>

  </div>
</section>
              <!-- /* end can_give_Donation */ -->

             <!-- /*  start ready-help */ -->          
<section class="ready_help mt-5 ">

   <div class="container">
       <div class="row">
           <div class="col-md-2">
                
           </div>
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-6">
                          <img class="img-fluid" src="assets/ia_600000026.jpeg" alt="can give">
                      </div>
                      <div class="col-md-6">
                          <div >
                              <h2 class="mt-5">Ready to Help Save a Life?</h2>
                              <p class="mt-5">
                                Ready to Help Save a Life?
                                Find a convenient blood drive near you and schedule an appointment to donate today.</p>
                                
                          </div>
                      </div>
                  </div>
                  <div class="mt-3 caption_style" style="background-color: #f0f0f0;">
                    <img class="float-left img-fluid pr-4"src="assets/ia_400000010.png" alt="What to Expect at Your Donation">
                    <p class="pt-5  clearfix">
                    <a href="#"><span class="prag_style">Registration — </span> </a> You will sign in, show an ID, and be asked to read some required information</p>
                </div>
               
           </div>

       </div>
   </div>

</section>
             <!-- /* end ready-help */ -->



